.tab-gps .GPS_info .head, .tab-gps .GPS_signal_strength .head {
    background-color:  var(--headerBackgroundColor);
}

.tab-gps #loadmap .controls {
    background-color:  var(--headerBackgroundColor);
}

.tab-gps #loadmap .controls a {
    background-color:  var(--headerBackgroundColor);
}

.tab-gps #loadmap .controls a:hover {
    background-color:  var(--headerBackgroundColor);
}

.tab-gps #loadmap .controls a:active {
    background-color:  var(--headerBackgroundColor);
}

progress[value]::-webkit-progress-bar {
    background-color:  var(--headerBackgroundColor);
}