.tab-motors .plot_control {
    background-color:  var(--headerBackgroundColor);
}

.tab-motors .plot_control select {
  background-color: #3a3a3a;
  color: white;
}

.tab-motors .motorblock {
    background-color:  var(--headerBackgroundColor);
}

.tab-motors .m-block {
    background-color:  var(--headerBackgroundColor);
}

.tab-motors .m-block .label {
    color: white;
}

.tab-motors .m-block .meter-bar {
    background-color:  var(--headerBackgroundColor);
}

.tab-motors .motor_testing .notice {
    background-color: #4e4e4e;
}
