:root {
    --accent: #8998fe;
    --accentAlt: #8998fe;
    --subtleAccent: #9c9c9c;
    --quietHeader: #393c88;
    --defaultText: #ffffff;
    --subtleText: #c0c0c0;
    --mutedText: #d6d6d6;
    --boxBackground: #3a3a3a;
    --alternativeBackground: #4e4e4e;
    --sideBackground: #404040;
    --paper: url(../../images/paper-dark.jpg);
    --ledAccent: #6e6e6e;
    --ledBackground: #424242;
    --linkColor: #bfc6fb;
    
    --buttonBorderColor: #3a4192;
    --headerBackgroundColor: var(--buttonBorderColor);
    --contentBackgroundColor: #202020;
    --contentBackgroundImage: url(../../images/feathers_dark.png);
}

body {
    color: white;
}

a {
    color: var(--linkColor);
}

#options-window {
    background-color: var(--contentBackgroundColor);
  
}

#content {
    /*background: var(--contentBackgroundColor) var(--contentBackgroundImage);
    background-size: 400px;
    */
    background-color: var(--contentBackgroundColor);
}

#content.logopen {

    background: var(--contentBackgroundColor) var(--contentBackgroundImage);
    background-size: 400px;
}

#status-bar {
    background-color: #414443;
}

#status-bar div {
    border-right: 1px solid #9c9c9c;
}

dialog {
    background-color: #3a3d3c;
    color:white;
    border: 1px solid var(--accentAlt);
}

/* Note */
.note {
    background-color: #4e4e4e;
    color: white;
}

.content_toolbar {
    background-color: #555857;
}

.content_toolbar .btn a {
    border: 1px solid var(--accentAlt);
}

.content_toolbar .btn a.disabled {
    border: 1px solid var(--accentAlt);
}

.gui_box {
    border: 1px solid #4d4d4d;
    background-color: var(--headerBackgroundColor);
}

.gui_box grey .block {
    border: 1px solid #9c9c9c;
}

.gui_box grey .block .head {
    border-bottom: 1px solid #9c9c9c;
    background-color: var(--headerBackgroundColor);
}

.gui_box grey .block.info {
    border: 1px solid #9c9c9c;
}

.gui_warning {
    background: var(--headerBackgroundColor);
}

.gui_note {
    background: var(--headerBackgroundColor);
}

.grey {
    background-color: #414443
}

.gui_box_bottombar {
    background-color: var(--headerBackgroundColor);
}

.fixed_band {
    background-color: var(--headerBackgroundColor);
}

.default_btn a.disabled {
    background-color: var(--headerBackgroundColor);
    border: 1px solid var(--accentAlt);
}

.small a {
    border: 1px solid var(--accentAlt);
}

#quad-status_wrapper {
    color: var(--headerBackgroundColor);
}

button {
    border: 1px solid #8998fe;
    background-color: #8998fe;
    color: black;
}

.helpicon {
    background-image: url(../images/icons/cf_icon_info_white.svg);
    opacity: 0.3;
}
.cf .helpicon {
    background-image: url(../images/icons/cf_icon_info_grey.svg);
    opacity: 0.4;
}
.cf .helpicon:hover {
    background-image: url(../images/icons/cf_icon_info_grey.svg);
    opacity: 1;
}

.gui_box_titlebar .helpicon {
    background-image: url(../images/icons/cf_icon_info_grey.svg);
}

.cf_table td {
    border-style: solid;
}

.noboarder td {
    border-style: unset;
}

.noUi-pips {
    color: #dbdbdb;
}

.jBox-container {
    background: var(--headerBackgroundColor);
    color:white;
}

.jBox-Modal .jBox-title,
.jBox-Confirm .jBox-title {
    background: var(--headerBackgroundColor);
    border-bottom: 1px solid #9c9c9c;
    text-shadow: 0 1px 1px #ffffff;
    color: white;
}


.tooltip {
  background-color: var(--sideBackground);
}







